gwas_exercises/1kgp3_maf05.pgen
gwas_exercises/1kgp3_maf05.psam
gwas_exercises/1kgp3_maf05.pvar
gwas_exercises/all_phase3_ns.pgen.zst
gwas_exercises/freq_results.afreq
gwas_exercises/pruned_snps.prune.out